# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
*.iml

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules

# Project specific
*.js.map
*.map
modules/*.js
modules/*.js.map